<div class="row">
  <div class="col-lg-5">
    <app-card
      [name]="cardForm.value.name"
      [cardNumber]="cardForm.value.cardNumber"
      [expiration]="cardForm.value.expiration"
    ></app-card>
  </div>
  <div class="col-lg-7">
    <form [formGroup]="cardForm" (ngSubmit)="submitForm()">
      <app-input [control]="cardForm.controls.name" label="Name"></app-input>
      <app-input
        [control]="cardForm.controls.cardNumber"
        label="Card number"
        mask="0000-0000-0000-0000"
      ></app-input>
      <div class="row">
        <div class="col-md-6">
          <app-input
            [control]="cardForm.controls.expiration"
            label="Expiration (MM/YY)"
          ></app-input>
        </div>
        <div class="col-md-6">
          <app-input
            [control]="cardForm.controls.securityCode"
            label="Security code"
          ></app-input>
        </div>
      </div>

      <button
        class="btn btn-primary mt-3 me-3"
        type="submit"
        [disabled]="cardForm.invalid"
      >
        Send
      </button>
      <button type="button" class="btn btn-warning mt-3" (click)="resetForm()">
        Reset
      </button>
    </form>
  </div>
</div>
